<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>📄 To Do List</title>
    <link rel="stylesheet" href="css/styles.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;900&family=Satisfy&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="triangle">
    </div>
